html ,body{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0%;
}
a{
    text-decoration: none;
}
.header{
    background: url("header.jpg") no-repeat center center/cover;
    height: 850px;
}
.navbar>ul>li{
    list-style: none;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    background: none;
    letter-spacing: 1px;
    color: white;
    padding: 25px 20px;
}
.navbar>ul>li:hover{
    color: #ccc;
}
h4{
    color: rgb(61, 172, 61);
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}
.header-content-2{
    font-weight: bold;
    margin: 23px;
    font-size: 40px;
    letter-spacing: 1px;
}
.content{
    text-align: center;
    color: white;
    margin-top:  40px 0;
}
.light-content{
    color: #ccc;
    font-size: 20px;
    margin-bottom: 20px;
    
}
.btn{
    margin:30px 0;
    text-transform: uppercase;
    font-weight: bold;
    padding: 25px 25px;
    border-radius: 10px;
}
.btn:hover{
    color:#ccc;
    color: black;
}
/* .header-img{
    width: 250px;
    text-align: center;    */
/* } */
/* sub-header */
.subheader{
display: grid;
padding: 20px 25px;
grid-template-columns: 1fr 3fr 1fr;
gap:20px;
opacity: 0.5px;
background-color: rgba(0, 0, 0, 0.337);
}
h5{
    color: white;
}
.link{
    cursor: pointer;
color: white;
margin-bottom: 10px;
text-decoration: underline;

}
.end{
    justify-self: flex-end;
    margin: 10px;
}
.button{
     padding: 25px 25px;;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    border-color: white;
    border-radius: 10px;
    background-color: black;
}
.button:hover{
    border:2px solid #ccc;
}
.center{
    text-align: center;
}
/* section-3 */
.section3{
    background-color: black;
    height: 800px;
    padding: 23px 0;
}
h1,.first,.highlight{
    color: white;
}
.text-xl,.highlight{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
}
.first,.highlight{
    text-align: center;
}

 .covers{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 25px;
}
.cover-1,.cover-2,.cover-3,.cover-4{
    height:500px;
}
.cover-1{
    background: url("cover-1.jpg") no-repeat center center/cover;
}
.cover-2{
    background: url("cover-2.jpg")no-repeat center center/cover;
}
.cover-3{
    background: url("cover-3.jpg")no-repeat center center/cover;
}.cover-4{
    background: url("cover-4.jpg") no-repeat center center/cover; 
}
/* section-4 */
.section-4{
    background-color:rgb(39, 34, 34);
    padding: 50px 50px;
    height: 700px;
}
.section-4-content{
    text-align: center;
    border:3px solid rgb(12, 143, 12);
    padding: 50px 50px;
    /* height: 850px; */
}
/* section-5 */
.section-5{
    background:url("live-sports.jpg")no-repeat center center/cover;
    height: 800px;
    padding: 250px 50px;
    text-align: left;  
}
.text-center{
    width: 450px;
    text-align: left;
}
.back-img{
    background: url("network-logo-bg.png")no-repeat center center/cover;
    width: 80px;
    
}
.img1{
    width: 70px;
}
/* footer */
.footer{
    background-color: #ccc;
    height: 800px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    grid-template-columns: repeat (4,1fr );
    align-items: center;
    padding: 50px 50px;
}
ul>li{
    list-style: none;
}
.list-heading{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 25px;
}
.divider>hr{
    width: 100%;
    height: 100%;
    border-top: 2px solid rgb(68, 61, 61);
}
.space{
    /* margin: 50px 50px; */
    padding: 50px 25px;
    text-align: left;
}
/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .modal-box {
    margin: 10% auto;
    width: 400px;
    background: #fff;
    color: #333;
    position: relative;
    animation: modalopen 1s;
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .modal-body {
    padding: 50px;
  }
  
  .modal-body h3 {
    font-weight: bold;
  }
  
  .modal-body .btn {
    width: 100%;
    margin-top: 30px;
  }
  
  .modal .close {
    cursor: pointer;
    height: 23px;
    width: 23px;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .modal .modal-footer {
    background: #f7f7f9;
    color: #333;
    padding: 20px 0;
    border-top: #eee 1px solid;
    text-align: center;
  }
  
  .modal .modal-footer a {
    color: steelblue;
  }
  
  /* Form */
  .form-control {
    margin: 20px 0;
  }
  
  .form-control label {
    display: block;
    text-transform: uppercase;
  }
  
  .form-control input {
    width: 100%;
    border: 2px #ccc solid;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
  }
  
  /* Media Queries */
  @media (max-width: 1100px) {
    .categories .covers {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 768px) {
    .header .logo {
      width: 200px;
    }
  
    .header .header-content {
      text-align: center;
      padding: 0 20px;
    }
  
    .header .header-text-1 {
      margin-bottom: 40px;
    }
  
    .header .header-text-2 {
      display: none;
    }
  
    .sub-header {
      grid-template-columns: 1fr;
      text-align: center;
      gap: 20px;
    }
  
    .sub-header img {
      width: 250px;
      margin: auto;
    }
  
    .sub-header > div:last-of-type {
      justify-self: center;
      align-self: center;
    }
  
    .text-xl {
      line-height: 1.3;
      font-size: 40px;
    }
  
    .sub-text {
      font-size: 20px;
    }
  
    .categories .covers {
      grid-template-columns: 1fr;
    }
  
    .live-border {
      padding: 30px 10px;
    }
  
    .live-sports {
      background: url('live-sports-small.jpg') no-repeat center center /
        cover;
    }
  
    .live-sports-content {
      top: 30px;
      left: 30px;
      margin-top: 60px;
    }
  
    .footer-lists {
      flex-direction: column;
    }
  
    .modal .modal-box {
      width: 350px;
    }
  }
